In [73]:
import pandas as pd
df= pd.read_csv('C:/Users/hp/Downloads/decision tree.csv')

In [125]:
df.head()
len(df)

891

In [136]:
inputs= df

In [137]:
from sklearn.preprocessing import LabelEncoder

In [138]:
sex = LabelEncoder()

In [139]:
inputs['sex'] = sex.fit_transform(inputs.Sex)

In [140]:
inputs.head()

   Survived  Pclass     Sex   Age     Fare  sex
0         0       3    male  22.0   7.2500    1
1         1       1  female  38.0  71.2833    0
2         1       3  female  26.0   7.9250    0
3         1       1  female  35.0  53.1000    0
4         0       3    male  35.0   8.0500    1

In [155]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [156]:
new =inputs.drop(['Sex'], axis ='columns')

In [145]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [149]:
from sklearn.model_selection import train_test_split

In [158]:
final1 = new.drop(['Survived'], axis ='columns')
target = new.Survived

In [159]:
x_train, x_test, y_train, y_test = train_test_split(final1,target, test_size=0.2)

In [162]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [163]:
model.score(x_test, y_test)

0.7877094972067039